<!DOCTYPE html>
<html lang="en">
<head>
    {{>header_links}}
</head>
<body>
   {{>navbar}}
<!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/weatherabout.png" alt="rajat" class="img-fluid" title="rajat paliwal">
                        </figure>
                    </div>
                     <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p> Welcome To Real Time Weather App</p>
                        <h1>I Am <span class="text_color">Rajat Paliwal </span> And I Am A <span class="text_color">Full Stack Developer</span> And <span class="text_color"> Mern Stack Developer</span></h1>
                        <a href="/weather"><button>Check Weather</button></a>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <!-- footer code -->
    {{>footer}}

</body>
</html> 