<!DOCTYPE html>
<html lang="en">
<head>
    {{>header_links}}
</head>
<body>
  {{>navbar}}
<!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter Your City Name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>

                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day" >Mon</p>
                        <p> <span id="today_date">14</span>|<span id="today_month">dec</span></p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Output Shown Here</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="temp_val">0</span><sup>o</sup>C</p>
                            <p id="temp_status"> <i class="fa fa-cloud" aria-hidden="true"></i> </p>
                        </div>
                    </div>
                </div>

            </div>
        </div> 
    </div>

    <!-- footer code -->
    {{>footer}}

    <script src="js/main.js"></script>
    <script>
        
        const getCurrentDay = ()=>{
            let currentDay = new Date();
            var weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";
            let days = weekday[currentDay.getDay()];
            let day = document.getElementById('day');
            day.innerText = days;
        };

        getCurrentDay();

        const getCurrentMonth = ()=>{
            var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];
            let now = new Date();
            var month = months[now.getMonth()];
            let myMonth = document.getElementById('today_month');
            myMonth.innerText = month;
        };

        getCurrentMonth ();

        const getCurrentDate = ()=>{
            let dates = new Date();
            let date = dates.getDate();
            let myDate = document.getElementById('today_date');
            myDate.innerText = date;
        };

        getCurrentDate();

    </script>

</body>
</html>